<div class="dashboard-container">
    <div class="dashboard-header">
        <div class="add-project">

            <img class="uploadfile-logo" [src]="imageBasePath + 'assets/Img/dashboard/uploadfile.png'" alt="">
            <button class="add-btn" routerLink="audio-process"><mat-icon>add</mat-icon> Add New Audio</button>
            <span>Please select the files in correct order, Maximum upload size is 4gb
            </span>
            <span>Format supported are MP3,MP4.</span>
        </div>
    </div>
   
</div>