<div class="info-container" *ngIf="info.name === 'submit'">
    <img src="+ 'assets/Img/dashboard/file-process.png'" alt="">
    <h5>Files submitted for Intelli-Voice processing!</h5>
    <p>An email with link will be send to when the processing is complete.</p>
    <div class="info-btn">
        <button class="add-btn" (click)="AddAnotherProject()">Add Another Video</button>
        <button class="cl-btn" (click)="closeInfo()">Close</button>
    </div>
</div>

<div class="info-container" *ngIf="infoObj.name === 'deleteTarget'">
    <p>Are you sure you want to delete <b>{{infoObj.title | truncate:50}}</b> Target group?</p>
    <div class="info-btn">
        <button class="add-btn" (click)="deleteTarget()">Yes</button>
        <button class="cl-btn" (click)="closeInfo()">No</button>
    </div>
</div>

<div class="logout-container" *ngIf="infoObj.name === 'profile'">
   <button class="logoutBtn" (click)="logout()">Logout</button>
</div>