.container {
    width: 100vw;
    height: 100vh;
    display: flex;

    .left-container {
        width: 50%;
        background: url('../../../assets/img/MaricoBg.jpg');
        background-position: center;
        background-size: cover;
    }

    .right-container {
        width: 50%;

        .inner-container {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;

            .login-form {
                width: 60%;
                display: flex;
                align-items: center;
                flex-direction: column;

                img {
                    height: 150px;
                    width: 200px;
                    margin-bottom: 30px;
                }

                button {
                    padding: 15px;
                    background: #005AAB;
                    border-radius: 25px;
                    width: 100%;
                    color: white;
                    font-size: 20px;
                    font-weight: 500;
                    border: none;
                    outline: none;
                }
            }
        }
    }
}
