header {
    height: 64px;
    border-bottom: 1px solid #E4E7EC;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px 0 15px;

    .logo {
        width: 17%;

        img {
            width: 40px;
            margin-right: 5px;
        }

        label {
            font-size: 20px;
            font-weight: 500;
            font-family: sans-serif;
            color: #000000;
        }
    }

    .section {
        width: 83%;
        display: flex;
        justify-content: flex-end;

        .profile {
            display: flex;
            align-items: center;
            .welcomeCont {
                display: flex;
                flex-direction: column;
                align-items: center;
                span:first-child {
                    font-weight: bold;
                    font-size: 18px;
                }
                span:nth-child(2) {
                    color: #014FA1;
                    font-size: 15px;
                }
            }
            button {
                border: none;
                outline: none;
                background: transparent;
                width: 40px;
                height: 40px;
                margin-left: 15px;
                mat-icon {
                    color: #014FA1;
                    font-size: 35px;
                    width: 40px;
                    height: 40px;
                }
            }
        }

        .search {
            width: 700px;
            position: relative;

            .search-bar {
                width: 100%;
                padding: 13px 50px 13px 40px;
                border: 1px solid #e0e0e0;
                border-radius: 5px;
                font-size: 16px;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                background-color: #F1F3F4;
                outline: none;
            }

            .search-icon {
                position: absolute;
                left: 15px;
                top: 55%;
                transform: translateY(-50%);
                color: #9e9e9e;
            }
        }
    }
}

.main-body {
    width: 100%;
    display: flex;
    height: calc(100vh - 64px);

    .sidebar {
        width: calc(17% + 15px);
        border-right: 1px solid #ECECEC;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        ul {
            li {
                width: 90%;
                background-color: #FFFFFF;
                border-radius: 0 50px 50px 0;
                margin: 10px 0 10px 0;
                font-size: 1.4em;
                font-weight: 400;
                color: #202124;
                display: flex;
                align-items: center;
                padding: 10px 20px 10px 30px;
                cursor: pointer;
                mat-icon {
                    margin-right: 10px;
                    color: #757575;
                    font-size: 1.6rem;
                    width: 1.6rem;
                    height: 1.6rem;
                }
                &.active {
                    background-color: #D4E5F7;
                    color: #014FA1;
                    font-weight: 700;
                    transition: 0.5s;
                    mat-icon {
                        color: #014FA1;
                    }
                }
            }
        }
    }

    .body {
        width: 83%;
    }
}