<header>
    <div class="logo">
        <img [src]="baseHref + 'assets/Img/header/Logo.png'" alt="Marico-Logo" matTooltip="Marico">
        <label>Intelli-Voice</label>
    </div>
    <div class="section">
        <div class="search">
            <i class="search-icon"><mat-icon>search</mat-icon></i>
            <input type="text" class="search-bar"
                placeholder="Search Files, Projects, Target Groups, Competitors, Products">
        </div>
        <div class="profile">
            <button matTooltip="Help"><mat-icon>help_outline</mat-icon></button>
            <button matTooltip="Settings"><mat-icon>settings</mat-icon></button>
            <button matTooltip="Profile"><img [src]="baseHref + 'assets/Img/header/profile.png'" (click)="logoutModel($event)" alt="Profile"></button>
        </div>
    </div>
</header>
<div class="main-body">
    <div class="sidebar">
        <ul>
            <li routerLink="dashboard" [routerLinkActive]="['active']" #dashboardActive="routerLinkActive">
                <mat-icon>home</mat-icon> Dashboard
            </li>
            <li routerLink="allFiles" [routerLinkActive]="['active']" #allFilesActive="routerLinkActive">
                <mat-icon>file_copy</mat-icon> All Files
            </li>
            <li routerLink="userList" [routerLinkActive]="['active']" #usersActive="routerLinkActive">
                <mat-icon>list</mat-icon> User List
            </li>
            <li routerLink="comparison" [routerLinkActive]="['active']" #compareActive="routerLinkActive">
                <mat-icon>compare</mat-icon> Compare Projects/ TGs
            </li>
        </ul>
    </div>
    <div class="body">
        <router-outlet></router-outlet>
    </div>
</div>
