.tab-container {
    .tab-header {
        display: flex;
        align-items: center;
        height: 60px;
        padding: 0 24px 0 24px;
        border-bottom: 1px solid #E4E7EC;

        button {
            outline: none;
            border: none;
            background: none;
            margin-right: 15px;
        }

        h3 {
            font-size: 1.4em;
            margin-right: 20px;
        }
    }

    .tab-group {
        height: calc(100vh - 64px - 60px);

        #tab-header {
            display: flex;
            align-items: center;
        }

        label {
            display: flex;
            align-items: center;

            img {
                margin-right: 10px;
            }

            span {
                color: #77747B;
                font-size: 15px;
            }

            span.active {
                color: #3f51b5;
                font-weight: 600;
            }
        }

        .tab-content {
            height: calc(100% - 48px - 60px);

            .tab-content-text {
                margin: 20px 20px 0 20px;
                border-top: 1px solid #014FA180;
                border-left: 1px solid #014FA180;
                border-right: 1px solid #014FA180;
                padding: 15px;
                height: 80%;
                overflow-y: scroll;

                .text {
                    font-size: 15px;
                    font-weight: 400;
                    color: #000000;
                    margin-bottom: 10px;
                    text-wrap: wrap;
                    line-height: 20px;

                    .moderator {
                        font-weight: 550;
                        font-size: 16px;
                    }
                    .main {
                        color: #014FA1 !important;
                    }
                }
            }

            .tab-content-model {
                background-color: #EEF5FC;
                height: 20%;
                display: flex;
                padding: 12px 20px;

                .model-detail {
                    width: 30%;

                    p {
                        color: #8E8E8E;
                        font-size: 13px;
                        margin: 5px 0;
                    }
                }

                .model-audio {
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .controls {
                        display: flex;
                        align-items: center;

                        button {
                            background: none;
                            outline: none;
                            border: none;
                            padding: 3px 1px 0 0;
                        }
                        mat-icon {
                            color: #014FA1;
                            margin: 0 5px;
                        }
                        .playbtn {
                            height: 2.5rem;
                            width: 2.5rem;
                            font-size: 2.5rem;
                        }
                    }

                    .audio-player {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        audio {
                            display: none;
                        }

                        #current-time,
                        #duration-time {
                            font-size: 14px;
                            margin: 0 5px;
                        }

                        .seek-bar {
                            -webkit-appearance: none;
                            appearance: none;
                            width: 80%;
                            height: 5px;
                            background: #DADADA;
                            border-radius: 5px;
                            outline: none;
                            position: relative;
                            cursor: pointer;
                        }

                        .seek-bar::-webkit-slider-runnable-track {
                            height: 8px;
                            border-radius: 5px;
                        }

                        .seek-bar::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            appearance: none;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background: #014FA1;
                        }

                        .seek-bar::-moz-range-track {
                            height: 8px;
                            border-radius: 5px;
                            background: #DADADA;
                        }

                        .seek-bar::-moz-range-thumb {
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background: #014FA1;
                        }
                    }
                }
            }

            .translation {
                justify-content: end;
                align-items: center;
                height: 14%;

                button {
                    border-radius: 4px;
                    border: 1px solid #014FA1;
                    padding: 10px 24px 10px 16px;
                    margin-left: 15px;
                    font-size: 1.4em;
                    font-weight: 500;
                    background: none;
                    outline: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #014FA1;

                    mat-icon {
                        margin-right: 5px;
                    }
                }

                .cancel-btn {
                    border: none;
                    mat-icon {
                        rotate: 45deg;
                    }
                }
            }

            .tab-content-chat {
                height: 80%;
                // display: flex;
                // justify-content: center;
                overflow-y: auto;
                width: 100%;

                .ask-header {
                    padding-top: 50px;

                    p {
                        text-align: center;
                        font-weight: 500;
                        color: #014FA1;
                        font-size: 34px;
                    }
                }

                .chat-dashboard {
                    width: 100%;

                    //overflow: auto;
                    .question-format,
                    .answer-format {
                        margin: 15px 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }

                    .answer-format {
                        background-color: #D4E5F7;
                        padding: 15px 0;
                    }

                    .question,
                    .answer {
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        font-size: 15px;
                        font-weight: 500;
                        color: #000000;
                        width: 80%;

                        img {
                            margin: 0 10px;
                        }

                        pre {
                            text-wrap: wrap;
                        }
                    }
                    .question {
                        button {
                            border: none;
                            background: none;
                            width: 40px;
                            height: 40px;
                            margin: 0 10px 0 4px;;
                            mat-icon {
                                color: #014FA1;
                                font-size: 35px;
                                width: 40px;
                                height: 40px;
                            }
                        }
                    }
                }
            }

            .tab-content-search {
                height: 20%;
                display: flex;
                align-items: flex-start;
                justify-content: space-around;

                .input-container {
                    display: flex;
                    align-items: center;
                    border: 1px solid #79747E;
                    border-radius: 5px;
                    padding: 8px 24px 8px 16px;
                    width: 75%;

                    .text-input {
                        flex: 1;
                        border: none;
                        outline: none;
                        padding: 5px;
                        font-size: 16px;
                    }

                    .text-input::placeholder {
                        color: #79747E;
                    }

                    .send-button {
                        background: none;
                        border: none;
                        padding: 0;
                        margin-left: 10px;
                        mat-icon {
                            color: #014FA1;
                        }
                    }
                }

                .download-chat-button {
                    background: none;
                    outline: none;
                    border: 1px solid #014FA1;
                    color: #014FA1;
                    padding: 10px 18px;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    mat-icon {
                        margin-right: 8px;
                    }
                }
            }
        }
    }
}

::ng-deep .mat-mdc-tab-body {
    height: calc(100vh - 48px);
}

.edit-textarea {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
}

.edit-textarea:focus {
    border: 1px solid #ccc;
}


.dialog-container {
    .dialog-title {
        font-weight: 600;
        color: #014FA1;
        margin-bottom: 5px;
    }

    ::ng-deep mat-form-field {
        width: 100%;

        .mat-mdc-text-field-wrapper {
            background: none;
            border: 1px solid #014FA1;
        }
    }

    .mat-mdc-dialog-actions {
        justify-content: center;
        padding: 0;

        button {
            border-radius: 4px;
            border: 1px solid #014FA1;
            padding: 10px 20px;
            font-size: 1.4em;
            font-weight: 500;
            background: none;
            outline: none;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #014FA1;
            gap: 20;
        }

        button:hover {
            background-color: #014FA1;
            color: #ffffff;
            transition: 0.5s;
        }
    }
}

::ng-deep mat-form-field {

    .mat-mdc-text-field-wrapper {
        background: none;
    }

    .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }
}