<div class="tab-container">
  <div class="tab-header">
    <button><img src="../../../assets/Img/AudioDetails/back.png" alt="Back-button"></button>
    <h3>{{audioDetails?.TGName}}</h3>
  </div>
  <mat-tab-group class="tab-group">
    <mat-tab>
      <ng-template mat-tab-label>
        <label><img src="../../../assets/Img/AudioDetails/Trasciptor.png" alt=""><span>Trascript</span></label>
      </ng-template>
      <div class="tab-content">
        <div class="tab-content-text">
              <p class="text" *ngFor="let audioData of audioDetails?.AudioData"> 
                <span class="moderator">Speaker {{audioData?.speaker}} ({{audioData?.timestamp}}):   </span>
                {{audioData?.transcription}}
              </p>
            
        </div>
        <div class="tab-content-model">
            <div class="model-detail">
                <h5>Audio 1</h5>
                <p>Target Group 1</p>
                <p>Nykka, Nivea Vs Parachute Safolla</p>
            </div>
            <div class="model-audio">
                <div class="controls">
                    <button (click)="seekBackward()"><img src="../../../assets/Img/AudioDetails/backward.png" alt="backward"></button>
                    <button (click)="togglePlayPause()" class="playbtn"><img src="../../../assets/Img/AudioDetails/pause.png" alt="Play/Pause"></button>
                    <button (click)="seekForward()"><img src="../../../assets/Img/AudioDetails/front.png" alt="forward"></button>
                </div>
                <div class="audio-player">
                  <span id="current-time">{{ currentTime }}</span>
                  <input type="range" class="seek-bar" [value]="seekValue" max="100" (input)="seekAudio($event)">
                  <span id="duration-time">{{ durationTime }}</span>
                  <audio #audioPlayer controls (timeupdate)="updateProgress($event)">
                    <source [src]="filePath" />
                    Your browser does not support the audio element.
                  </audio>
                </div>
            </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <label><img src="../../../assets/Img/AudioDetails/Translation.png" alt=""><span>Translation</span></label>
      </ng-template>
      <div class="tab-content">
        <div class="tab-content-text">
          <p class="text" *ngFor="let audioData of audioDetails?.AudioData"> 
            <span class="moderator">Speaker {{audioData?.speaker}} ({{audioData?.timestamp}}):   </span>
            {{audioData?.translation}}
          </p>
      </div>
        <div class="tab-content-model translation">
          <button><img src="../../../assets/Img/AudioDetails/Edit-trans.png" alt="Edit-trans">Edit</button>
          <button class="cancel-btn"><img src="../../../assets/Img/AudioDetails/cancle-trans.png" alt="cancle-trans">Cancel</button>
          <button><img src="../../../assets/Img/AudioDetails/save-trans.png" alt="save-trans">Update</button>
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <label><img src="../../../assets/Img/AudioDetails/summary.png" alt=""><span>Summary</span></label>
      </ng-template>
      <div class="tab-content">
        <div class="tab-content-text">
          <p class="text"> <span class="moderator">Summary : </span>{{audioDetails?.Summary}}</p>
        </div>
        <div class="tab-content-model translation">
          <button><img src="../../../assets/Img/AudioDetails/Download-sum.png" alt="Down-SUm">Download Summary</button>
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <label><img src="../../../assets/Img/AudioDetails/Senti.png" alt=""><span>Sentiment analysis</span></label>
      </ng-template>

      <div class="tab-content">
        <div class="tab-content-text">
          <pre class="text">{{audioDetails?.SentimentAnalysis}}</pre>
        </div>
        <div class="tab-content-model translation">
          <button><img src="../../../assets/Img/AudioDetails/Download-sum.png" alt="Down-SUm">Download Sentiment
            Analysis</button>
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <label><img src="../../../assets/Img/AudioDetails/chat.png" alt=""><span>Chat</span></label>
      </ng-template>

      <div class="tab-content">
        <div class="tab-content-chat">
          <div class="ask-header" *ngIf="false">
            <p>Ask me anything about the selected audio</p>
          </div>
          <div class="chat-dashboard">
            <div class="question-format">
              <div class="question">
                <img src="../../../assets/Img/header/profile.png" alt="profile">
                <p>Prompt 1 about the product, based on the most used prompts?</p>
              </div>
            </div>
            <div class="answer-format">
              <div class="answer">
                <img src="../../../assets/Img/header/Logo.png" alt="logo">
                <p>Moderator : Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                  ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit 
                  in voluptate velit esse cillum dolore eu fugiat nulla</p>
              </div>
            </div>
          </div>
          <!-- Use NgFor -->
          <!-- <div class="chat-dashboard">
            <div *ngFor="let message of messages">
              <div *ngIf="message.from === 'user'" class="question-format">
                <div class="question">
                  <img src="../../../assets/Img/header/profile.png" alt="profile">
                  <p>{{ message.msg }}</p>
                </div>
              </div>
              
              <div *ngIf="message.from === 'AI'" class="answer-format">
                <div class="answer">
                  <img src="../../../assets/Img/header/Logo.png" alt="logo">
                  <p>Moderator : {{ message.msg }}</p>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <div class="tab-content-search">
          <div class="input-container">
            <input type="text" placeholder="Start Typing Here!..." class="text-input" />
            <button class="send-button">
              <img src="../../../assets/Img/AudioDetails/enter.png" alt="Send" />
            </button>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>