<div class="allfiles-container">
  <div class="allfiles-container-header">
    <div class="allfiles-container-header-tabs">
      <button [ngClass]="isAllFiles ? 'active' : ''" id="allfilebtn" (click)="changeFileOption(1)">All Files
        <span>{{!isAllFiles ? 0 : this.count}}
          files</span></button>
      <button [ngClass]="!isAllFiles ? 'active' : ''" id="myfilebtn" (click)="changeFileOption(0)">My Files <span>{{isAllFiles ? 0 : this.count}}
          files</span></button>
    </div>
    <div class="allfiles-container-header-search">
      <button
      class="delete-selected-btn"
      [disabled]="selectedProjects.size === 0"
      (click)="deleteConfirm(deleteTemplate)"
    >
      Delete Selected
    </button>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Search by User Name</mat-label>
          <input type="text" placeholder="Search User Name" aria-label="UserName" matInput [formControl]="myUserControl"
            [matAutocomplete]="autoUser" (keyup)="emptyUser()">
          <mat-autocomplete #autoUser="matAutocomplete" (optionSelected)="onOptionSelectedUser($event)">
            <mat-option *ngFor="let option of filteredOptionsUser | async;"
              [value]="option?.userName">{{option?.userName}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Search by Project Name</mat-label>
          <input type="text" placeholder="Search Project Name" aria-label="ProjName" matInput [formControl]="myControl"
            [matAutocomplete]="auto" (keyup)="emptyProject()">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
            <mat-option *ngFor="let option of filteredOptions | async;"
              [value]="option?.ProjName">{{option?.ProjName}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="allfiles-container-body">
    <div class="card">
      <p-table #dt2 [value]="project" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true">
        <ng-template pTemplate="header">
          <tr>
            <th>
              <input type="checkbox" (change)="toggleSelectAll($event)" />
            </th>
            <th headers="user-name">User Name</th>
            <th headers="project-name">Project Name</th>
            <th headers="country">Country</th>
            <th headers="state">State</th>
            <th headers="target-group">Target Group</th>
            <th headers="age-group">Age Group</th>
            <th headers="competetion">Competetion</th>
            <th headers="marico-product">Marico Product</th>
            <th headers="status">Status</th>
            <th headers="action">Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-project>
          <tr>
            <td>
              <input
                type="checkbox"
                [checked]="selectedProjects.has(project.TargetId)"
                (change)="toggleSelection(project.TargetId, project.TargetGroup, $event)"
              />
            </td>
            <td>{{ project.UserName }}</td>
            <td>{{ project.ProjectName }}</td>
            <td>{{ project.Country }}</td>
            <td>{{ project.State }}</td>
            <td>{{ project.TargetGroup | truncate:40}}</td>
            <td>{{ project.AgeGroup }}</td>
            <td>{{ project.CompetitorGroup }}</td>
            <td>{{ project.MaricoProduct }}</td>
            <td> <label class="view-btn" [ngClass]="{
              'status-processing': project.Status === 0,
              'status-completed': project.Status === 1,
              'status-failed': project.Status > 1
            }">{{ project.Status === 0 ? 'Processing' : (project.Status === 1 ? 'Completed' : 'Failed') }}</label></td>
            <td>
              <button [disabled]="project.Status !== 1" class="view-btn" (click)="viewDetails(project.TargetId, project.TargetGroup)">View</button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<div *ngIf="isLoading" class="spinner">
  <mat-spinner></mat-spinner>
</div>

<ng-template #deleteTemplate>
  <div class="dialog-container">
    <h1 mat-dialog-title class="dialog-title">Delete Confirmation</h1>
    <div mat-dialog-content>
     <p  class="dialog-subtitle">Are you sure you want to delete this audio?</p>
    </div>
    <div mat-dialog-actions class="btns">
      <button mat-button mat-dialog-close>No</button>
      <button mat-button mat-dialog-close (click)="deleteSelectedProjects()">Yes</button>
    </div>
  </div>
</ng-template>